body {
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
}

.tableArea,
.gameArea {
    border-radius: 20px;
    height: 90vh;
    margin-left: 15px;
}

.tableArea {
    height: 85vh;
}

.player1PlayArea,
.player2PlayArea {
    width: 100%;
    height: 44.5%;
    background-color: rgba(238, 241, 236, 0.322);
    border-radius: 20px;
    border: black 1px solid;
}

div {
    text-align: center;
    justify-content: center;
}

col {
    padding: 0px !important;
}

.player1Dice,
.player2Dice {
    max-height: 20vh;
    display: inline-block;
}

.dice,
.dice-value,
.shownDice {
    height: 100%;
    max-height: 100px;
    max-width: 80px;
    width: 80%;
    margin: 5px;
    border-radius: 10px;
    border-color: black;
    background-color: azure;
}

.dice.disabled {
    opacity: 0.4;
}

.dice img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
}

.dice.hidden {
    display: none;
}

.dice-value img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    background-position: center;
}

.scoreBox {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: black 1px solid;
    background-color: white;
}

.winner {
    border-radius: 10px;
    border: black 1px solid;
    background-color: rgba(63, 191, 127, 0.75);
}

.tableArea {
    border-radius: 20px;
    border: black 1px solid;
    background-color: rgba(238, 241, 236, 0.322);
}

.active {
    background-color: rgba(67, 75, 180, 0.4);
}

.player1,
.player2 {
    text-align: center;
    padding: 0px !important;
}

.scoreBox {
    display: inline-block;
}

.diceHistory {
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 0px;
}

.diceHistory.roundCounter {
    top: 0px;
}

.diceHistory img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
}

.history {
    text-align: center;
}

.historyRow {
    width: 100%;
    height: 100px;
    margin-bottom: 10px !important;
}

.history {
    margin-bottom: 10px !important;
}


/* btn for rolling*/

.roll {
    height: 70px;
    max-width: 100px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(238, 241, 236, 0.1);
}

.roll.active {
    background-color: rgb(30, 131, 190);
    border-radius: 10px;
    border: black solid 1px;
}


/* Intro Modal*/

.modal-title {
    text-align: center;
}

.modal-header {
    justify-content: center;
}

#playerVplayer,
#playerVcomputer {
    margin: 10px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Disabled area*/

.disabled {
    pointer-events: none;
}

.activePlayer {
    background-color: rgba(63, 191, 127, 0.46);
}

.disabled.activePlayer {
    pointer-events: all !important;
    border: darkblue 4px solid;
}


/* Percentage css code*/

.great,
.good,
.ok,
.bad,
.worst {
    border-radius: 10px;
    border: solid 3px;
}

.great {
    border-color: rgb(83, 224, 64);
}

.good {
    border-color: lightgreen;
}

.ok {
    border-color: yellow;
}

.bad {
    border-color: lightpink;
}

.worst {
    border-color: darkgrey;
}


/*Messages for players*/

.player1Info,
.player1Info {
    height: 15%;
}